
.add-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-input {
  width: clamp(30rem, 40%, 40rem);
  padding: 1rem;
  font-size: 1em;
  border: none;
  border-radius: 5rem;
  background-color: var(--secondary-clr);
  color: var(--clr-two);
}

.app-container:has(.dark-mode) .add-input {
  color: var(--clr-primary);
}

.add-input:focus {
  outline: none;
}

.add-submit {
  position: absolute;
  right: 0;
  font-size: 1em;
  padding: 1rem 2rem;
  background-color: var(--clr-two);
  color: var(--secondary-clr);
  border-radius: 4rem;
  border: none;
  cursor: pointer;
}

.dark-mode .add-submit {
  color: var(--primary-clr);
}
